.blog_page_wrapper {
  padding-top: calc(14rem + 1vh);
  padding-bottom: calc(1rem + 1vh);
}

.blog_card {
  background-color: var(--color-blue);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: var(--color-primary);
  transition: all 300ms;
  cursor: pointer;
}

.blog_card:hover {
  transform: translateY(-4px);
}

.single_blog_wrapper {
  padding-bottom: calc(5rem + 2vh);
}

.back_button {
  color: var(--color-blue);
  font-size: 25px;
  font-weight: 600;
  transition: all 300ms ease-in-out;
}

.arrow_icon {
  transition: all 300ms;
}

.back_button:hover {
  color: var(--color-red);
}

.back_button:hover .arrow_icon {
  transform: translateX(-5px);
}

.blog_page_wrapper {
  padding-top: calc(14rem + 1vh);
  padding-bottom: calc(1rem + 1vh);
}

.blog_hero_heading {
  font-size: calc(4rem + 1.5vw);
  font-weight: 700;
  margin-top: -100px !important;
  background-image: url("../../assets//dot.png");
}

.blog_hero_para {
  font-size: calc(1rem + 1vw);
  padding-top: 15px !important;
}

.left_hero_section {
  background-image: url("../../assets//dot.png");
  color: var(--color-blue);
}

.red_span {
  color: var(--color-red);
}

.blog_hero_wrapper {
  padding-bottom: calc(1.5rem + 1vh);
}

.blog_card_wrapper {
  padding-top: calc(4rem + 1vh);
  padding-bottom: calc(0.1rem + 2vh);
}

.blog_card_img_div {
  position: relative;
  height: 200px;
}

.single_blog_image_div{
  position: relative;
  height: 600px;
  
}