.contact_input_field {
  border: 0;
  outline: 0;
  border-radius: 0px;
  border-bottom: 1px solid var(--color-blue);
  margin-top: 30px;
  margin-bottom: 5px;
}

.contact_input_field:focus {
  box-shadow: none !important;
  border-bottom: 1px solid var(--color-yellow) !important;
}

.message_send_button {
  border: none;
  outline: none;
  background-color: var(--color-yellow);
  font-weight: 600;
  color: var(--color-white);
  padding: 5px 30px;
  border-radius: 50px !important;
  transition: all 300ms;
}
.message_send_button:hover {
  transform: translateY(-3px);
  opacity: 0.9;
}

