.footer {
  background-color: var(--color-blue);
  color: var(--color-primary);
}



.form_control:focus {
  background-color: #fff;
  border-color: red !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.02rem red;
}

.subscribe_button {
  outline: none;
  border: none;
  background-color: var(--color-red);
  color: var(--color-primary);
  font-weight: 600;
}

.footer_column_heading {
  position: relative;
  margin-bottom: 20px;
}

.footer_column_heading::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 3px;
  width: 160px;
  background: var(--color-red);
}

.footer_icon {
  color: var(--color-primary);
  transition: all 300ms;
}

.footer_icon:hover {
  color: var(--color-yellow);
  transform: translateY(-3px);
}

.copy_right_footer {
  text-decoration: none;
  color: var(--color-primary);
}

.copy_right_footer:hover {
  color: var(--color-primary);
}

.falcon_link {
  color: var(--color-yellow) !important;
  transition: all 200ms;
}

.falcon_link:hover {
  color: rgb(204, 204, 7) !important;
}
