.product_item {
  position: relative;
  overflow: hidden;
}

.product_content {
  position: absolute;
  bottom: -45px;
  z-index: 2;
  left: 10px;
  transition: all 300ms ease-in-out;
}

.product_item:hover .product_content {
  transform: translateY(-50px);
}

.image_only_div {
  height: 300px;
  position: relative;
  cursor: pointer;
}

.image_only_div::after {
  position: absolute;
  content: "";
  inset: 0;
  transition: all 300ms ease-in-out ;
}

.image_only_div:hover::after {
  background-color: #219dbc5d;
  transform: translateY(180px);
}
